.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body {
  background-color: #142e39;
  z-index: -1;
  font-family: 'Cutive Mono', monospace;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.field {
  min-height: 40px;
  margin-bottom: 10px;
}

.locator {
  text-align: right;
}

.filter {
  font-size: '80%';
}

.filters, .list-group-item {
  background-color: #142e39;
  color: #ededed;
}

.filter-section {
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}

.filter-list {
  text-align: right;
  margin-left: 0px;
}

.filter-list li {
  font-style: italic;
  opacity: 0.7;
  display: inline;
  margin: 10px;
}

.filter-by {
  font-style: italic;
  opacity: 0.7;
  position: relative;
  vertical-align: baseline;
}

.filter-glyph {
  vertical-align: baseline;
  font-size: 10px;
  font-weight: 200;
}

.filter-type {
  vertical-align: baseline;
}

.option-list {
  text-align: right;
  margin-left: 0px;
}

.option-list li {
  opacity: 0.8;
  display: inline;
  margin: 5px;
  padding-left: 5px;
  font-size: 12px;
}

.option-list li input {
  margin: .4rem;
  transform: scale(0.8);
  vertical-align: top;
}

.option-list li label {
  vertical-align: middle;
  font-weight:400;
  opacity: 0.8
}

.filter-list li:hover {
  opacity: 0.9;
  cursor: pointer;
}



.filter-options {
  text-align: right;
}

.field-label {
  opacity: 0.7;
  font-style: italic;
}

.map {
  position: fixed!important;
  height: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
}

.navbar {
  z-index: 2;
  background-color: #142e39;
  color: #ededed;
  border: none;
  outline: none;
  height: 100%;
}


.logo {
  height: 3em;
  margin-bottom: 0.5em;
}

.navbar-header {
  height: 5.2em;
}

.navbar-toggle {
  position: relative;
  top: 1.2em;
}

.no-margin-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar-default {
  padding-bottom: 0px;
  margin-bottom: 10px;
}


.navbar-nav li a {
  color: #ededed!important;
  line-height: 3.7em;
}

.coffee-text, .favourite-btn, .login-to-add, .editor {
  z-index: 5;
  position: relative;
  top: 1em;
}

.favourite-btn, .login-to-add {
  margin-top: 40px;
}


.login-to-add {
  margin-bottom: 40px;
  text-align: right;
}

.login-to-add span {
  background-color: #ededed;
  padding: 3px;
}

.login-to-add .login {
  padding: 1em;
  background-color : #ededed;
  position: absolute;
  right: 0;
  color: #000;
}

.login-wrap .login {
  padding: 1em;
  background-color : #ededed;
}

.verify {
  color: #ededed;
}

.coffee-text span {
  background-color: #fff;
  opacity: 1;
}

.coffee-text p {
  margin-bottom: 25px;
}

.coffee-card {
  color: #fff;
  border-bottom: 1px solid #254b5b;
  margin-top: 30px;
}

.coffee-card span {
  padding: 4px;
}

.coffee-card h1 span {
  color: #fff
}

.coffee-card h2 span {

}

.coffee-card h3 span {
  background-color: #ededed;
  color: #142e39
}

.coffee-name {
  color: #e98b23!important;
  font-style: italic;
}

.coffee-place {
  color: #e95424!important;
  font-style: italic;
}

.coffee-grower {
  color: #e98b23!important;
  font-style: italic;
}

.gold {
  color:  #e98b23!important;
}

.orange {
  color: #e95424!important;
}

.editor {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  margin: 50px;
  margin-top: 10px;
}

.editor-label {
  vertical-align: bottom;
  margin-top: 5px;
}

.button-wrap {
  text-align: right;
  margin-right: 1em;
}


/* gold #e98b23  orange #e95424 muck #142e39 */
